<% layout('layout/main') -%>
<% block('title', 'Home') -%>

<div class="home__header ">
    <div class="container"> 
        <%-partial('./partials/home/header')%>
    </div>
</div>
<div class="home__about pt-4">
    <div class="container"> 
        <%-partial('./partials/home/about')%>
    </div>
</div>
