<div class="text-center mb-4 home__about-title">
    <h1>
        how it work
    </h1> 
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card  home__about-card" >
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie arcu vel cursus pellentesque. Nullam maximus orci vel accumsan molestie. Duis sed ex euismod.</p>
            </div>
          </div>
    </div>
    <div class="col-md-4 ">
        <div class="card  home__about-card" >
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut tellus sed elit facilisis maximus non ut augue. Phasellus eleifend convallis nisl quis porta. Vestibulum aliquam tincidunt ornare. Nulla cursus.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
        <div class="card  home__about-card" >
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a enim ac nunc accumsan bibendum tristique a tortor. Interdum et malesuada fames ac ante ipsum primis.
              </p>
            </div>
          </div>
    </div>
</div>