<div class="text-center mb-4 home__about-title">
    <h1>
        how it work
    </h1> 
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card  home__about-card" >
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
    </div>
    <div class="col-md-4 ">
        <div class="card  home__about-card" >
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
        <div class="card  home__about-card" >
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
    </div>
</div>