<div class="mb-4 home__category-title row">
  <div class="col-md-6">
    <h4 class="text-left">
      Category
    </h4> 
  </div>
  <div class="col-md-6 ">
    <a href="#" class="home__category-subtitle">
      <h5 class="text-right mr-5 mt-1 ">
        Show All
      </h5>
    </a>
  </div>
</div>
<div class="row">
    <a href="#" class="col-md-2 category__card-a ">
        <div class="card category__card" style="width: 8rem;">
            <img src="/img/fruits.png" class="card-img-top category__card-img" alt="fruits">
            <div class="card-body">
              <h5 class="card-title text-center">Card title</h5>
            </div>
          </div>
    </a>
    <a href="#" class="col-md-2 category__card-a">
        <div class="card category__card" style="width: 8rem;">
            <img src="/img/beef.png" class="card-img-top category__card-img" alt="beef">
            <div class="card-body">
              <h5 class="card-title text-center">Card title</h5>
            </div>
          </div>
    </a>
    <a href="/products/category/Sayur" class="col-md-2  category__card-a">
        <div class="card category__card" style="width: 8rem;">
            <img src="/img/vegetables.png" class="card-img-top category__card-img" alt="vegetables">
            <div class="card-body">
              <h5 class="card-title text-center">Card title</h5>
            </div>
          </div>
    </a>
    <a href="#" class="col-md-2 category__card-a">
        <div class="card category__card" style="width: 8rem;">
            <img src="/img/bacons.png" class="card-img-top category__card-img" alt="bacons">
            <div class="card-body">
              <h5 class="card-title text-center">Card title</h5>
            </div>
          </div>
    </a>
    <a href="#" class="col-md-2 category__card-a" >
      <div class="card category__card" style="width: 8rem;">
          <img src="/img/sardines.png" class="card-img-top category__card-img" alt="bacons">
          <div class="card-body">
            <h5 class="card-title text-center">Card title</h5>
          </div>
        </div>
  </a>
  <a href="#" class="col-md-2 category__card-a">
    <div class="card category__card" style="width: 8rem;">
        <img src="/img/oat.png" class="card-img-top category__card-img" alt="bacons">
        <div class="card-body">
          <h5 class="card-title text-center">Card title</h5>
        </div>
      </div>
  </a>
</div>