<div class="row mt-5">
    <div class="col-md-4 ">
        <div class="card home__header-card ">
            <div class="card-body">
              <h1 class="home__card-title">Your Online <br>
                 Family Market</h1>
              <p class="home__card-subtitle">With supporting text below as a natural <br> 
                lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 offset-md-2">
        <img src="/img/header.jpg" class="img-fluid home__header-img" alt="Vegetables">
    </div>
</div>
